<%- include('../Layouts/Admin/header') -%>


</head>

<body>

  
  <!-- ?PROD Only: Google Tag Manager (noscript) (Default ThemeSelection: GTM-5DDHKGP, PixInvent: GTM-5J3LMKC) -->
  <noscript><iframe src="https://www.googletagmanager.com/ns.html?id=GTM-5DDHKGP" height="0" width="0" style="display: none; visibility: hidden"></iframe></noscript>
  <!-- End Google Tag Manager (noscript) -->
  
  <!-- Content -->

<div class="authentication-wrapper authentication-cover">
  <!-- Logo -->
  <a class="auth-cover-brand d-flex align-items-center gap-3">
    <span class="app-brand-logo demo me-1">
      <img src="/Admin/assets/img/taara-logo-2.png" alt="logo" style="width: 130px" />
      </span>
  </a>
  <!-- /Logo -->
  <div class="authentication-inner row m-0">
    <!-- /Left Section -->
    <div class="d-none d-lg-flex col-lg-7 col-xl-8 align-items-center justify-content-center p-12 pb-2">
      <div>
        <img src="/Admin/assets/img/illustrations/auth-cover-login-illustration-light.png" class="authentication-image-model d-none d-lg-block" alt="auth-model" data-app-light-img="illustrations/auth-cover-login-illustration-light.png" data-app-dark-img="illustrations/auth-cover-login-illustration-dark.html">
      </div>
      <img src="/Admin/assets/img/illustrations/tree.png" alt="tree" class="authentication-image-tree z-n1">
      <img src="/Admin/assets/img/illustrations/auth-cover-mask-light.png" class="scaleX-n1-rtl authentication-image d-none d-lg-block w-75" alt="triangle-bg" height="362" data-app-light-img="illustrations/auth-cover-mask-light.png" data-app-dark-img="illustrations/auth-cover-mask-dark.html">
    </div>
    <!-- /Left Section -->

    <!-- Login -->
    <div class="d-flex col-12 col-lg-5 col-xl-4 align-items-center authentication-bg position-relative py-sm-5 px-12 py-4">
      <div class="w-px-400 mx-auto pt-5 pt-lg-0">
        <h4 class="mb-1">Welcome to Taara</h4>
        <p class="mb-5">Please sign-in to your account to start using</p>
        <p class="text-danger text-center" id=""><%= locals.errorMessage ? errorMessage : '' %></p>

        <form id="formAuthentication" class="mb-5" action="/admin/login" method="POST">
          <div class="form-floating form-floating-outline mb-5">
            <input type="text" class="form-control" id="email" name="email" placeholder="Enter your email " autofocus>
            <label for="email">Email</label>
          </div>
          <div class="mb-5">
            <div class="form-password-toggle">
              <div class="input-group input-group-merge">
                <div class="form-floating form-floating-outline">
                  <input type="password" id="password" class="form-control" name="password" placeholder="&#xb7;&#xb7;&#xb7;&#xb7;&#xb7;&#xb7;&#xb7;&#xb7;&#xb7;&#xb7;&#xb7;&#xb7;" aria-describedby="password" />
                  <label for="password">Password</label>
                </div>
                <span class="input-group-text cursor-pointer"><i class="ri-eye-off-line ri-20px"></i></span>
              </div>
            </div>
          </div>
          <div class="mb-5 d-flex justify-content-between flex-wrap py-2">
            
            
          </div>
          <button type="submit" class="btn btn-primary d-grid w-100">
            Login
          </button>
        </form>

      </div>
    </div>
    <!-- /Login -->
  </div>
</div>

<!-- / Content -->

  
  
  

  <%- include('../Layouts/Admin/footer') -%>