<%- include('../Layouts/Admin/header') -%>

    <!-- Vendors CSS -->
    <link rel="stylesheet" href="assets/vendor/libs/perfect-scrollbar/perfect-scrollbar.css" />
    <link rel="stylesheet" href="assets/vendor/libs/typeahead-js/typeahead.css" />
    <link rel="stylesheet" href="assets/vendor/libs/datatables-bs5/datatables.bootstrap5.css" />
    <link rel="stylesheet" href="assets/vendor/libs/datatables-responsive-bs5/responsive.bootstrap5.css" />
    <link rel="stylesheet" href="assets/vendor/libs/datatables-buttons-bs5/buttons.bootstrap5.css" />
    <link rel="stylesheet" href="assets/vendor/libs/datatables-checkboxes-jquery/datatables.checkboxes.css">
    <link rel="stylesheet" href="assets/vendor/libs/select2/select2.css">

    <!-- Page CSS -->


    <!-- Helpers -->
    <script src="assets/vendor/js/helpers.js"></script>
    <!--! Template customizer & Theme config files MUST be included after core stylesheets and helpers.js in the <head> section -->
    <!--? Template customizer: To hide customizer set displayCustomizer value false in config.js.  -->
    <script src="assets/vendor/js/template-customizer.js"></script>
    <!--? Config:  Mandatory theme config file contain global vars & default theme options, Set your preferred theme option in this file.  -->
    <script src="assets/js/config.js"></script>

    </head>


    <%- include('../Layouts/Admin/navbar') -%>



        <!-- Content wrapper -->
        <div class="content-wrapper">

            <!-- Content -->

            <div class="container-xxl flex-grow-1 container-p-y">



                <div class="app-ecommerce">

                    <!-- Add Product -->
                    <div
                        class="d-flex flex-column flex-md-row justify-content-between align-items-start align-items-md-center mb-6 gap-4 gap-md-0">

                        <div class="d-flex flex-column justify-content-center">
                            <h4 class="mb-1">Add a new Product</h4>
                            <p class="mb-0">Orders placed across your store</p>
                        </div>
                        <div class="d-flex align-content-center flex-wrap gap-4">
                            <button class="btn btn-outline-secondary waves-effect">Discard</button>
                            <button class="btn btn-outline-primary waves-effect">Save draft</button>
                            <button type="submit" class="btn btn-primary waves-effect waves-light">Publish
                                product</button>
                        </div>
                    </div>

                    <div class="row">

                        <!-- First column-->
                        <div class="col-12 col-lg-8">
                            <!-- Product Information -->
                            <div class="card mb-6">
                                <div class="card-header">
                                    <h5 class="card-tile mb-0">Product information</h5>
                                </div>
                                <div class="card-body">
                                    <div class="form-floating form-floating-outline mb-5">
                                        <input type="text" class="form-control" id="ecommerce-product-name"
                                            placeholder="Product title" name="productTitle" aria-label="Product title">
                                        <label for="ecommerce-product-name">Name</label>
                                    </div>


                                    <div class="row gx-5 mb-5">
                                        <div class="col">
                                            <div class="form-floating form-floating-outline">
                                                <input type="number" class="form-control" id="ecommerce-product-sku"
                                                    placeholder="00000" name="productSku" aria-label="Product SKU">
                                                <label for="ecommerce-product-sku">SKU</label>
                                            </div>
                                        </div>
                                        <div class="col">
                                            <div class="form-floating form-floating-outline">
                                                <input type="text" class="form-control" id="ecommerce-product-barcode"
                                                    placeholder="0123-4567" name="productBarcode"
                                                    aria-label="Product barcode">
                                                <label for="ecommerce-product-name">Barcode</label>
                                            </div>
                                        </div>
                                    </div>
                                    <!-- Comment -->
                                    <div>
                                        <label class="mb-1">Description (Optional)</label>
                                        <div class="form-control p-0 pt-1">
                                            <div class="comment-toolbar border-0 border-bottom ql-toolbar ql-snow">
                                                <div class="d-flex justify-content-start">
                                                    <span class="ql-formats me-0">
                                                        <button class="ql-bold" type="button"><svg viewBox="0 0 18 18">
                                                                <path class="ql-stroke"
                                                                    d="M5,4H9.5A2.5,2.5,0,0,1,12,6.5v0A2.5,2.5,0,0,1,9.5,9H5A0,0,0,0,1,5,9V4A0,0,0,0,1,5,4Z">
                                                                </path>
                                                                <path class="ql-stroke"
                                                                    d="M5,9h5.5A2.5,2.5,0,0,1,13,11.5v0A2.5,2.5,0,0,1,10.5,14H5a0,0,0,0,1,0,0V9A0,0,0,0,1,5,9Z">
                                                                </path>
                                                            </svg></button>
                                                        <button class="ql-italic" type="button"><svg
                                                                viewBox="0 0 18 18">
                                                                <line class="ql-stroke" x1="7" x2="13" y1="4" y2="4">
                                                                </line>
                                                                <line class="ql-stroke" x1="5" x2="11" y1="14" y2="14">
                                                                </line>
                                                                <line class="ql-stroke" x1="8" x2="10" y1="14" y2="4">
                                                                </line>
                                                            </svg></button>
                                                        <button class="ql-underline" type="button"><svg
                                                                viewBox="0 0 18 18">
                                                                <path class="ql-stroke"
                                                                    d="M5,3V9a4.012,4.012,0,0,0,4,4H9a4.012,4.012,0,0,0,4-4V3">
                                                                </path>
                                                                <rect class="ql-fill" height="1" rx="0.5" ry="0.5"
                                                                    width="12" x="3" y="15"></rect>
                                                            </svg></button>
                                                        <button class="ql-list" value="ordered" type="button"><svg
                                                                viewBox="0 0 18 18">
                                                                <line class="ql-stroke" x1="7" x2="15" y1="4" y2="4">
                                                                </line>
                                                                <line class="ql-stroke" x1="7" x2="15" y1="9" y2="9">
                                                                </line>
                                                                <line class="ql-stroke" x1="7" x2="15" y1="14" y2="14">
                                                                </line>
                                                                <line class="ql-stroke ql-thin" x1="2.5" x2="4.5"
                                                                    y1="5.5" y2="5.5"></line>
                                                                <path class="ql-fill"
                                                                    d="M3.5,6A0.5,0.5,0,0,1,3,5.5V3.085l-0.276.138A0.5,0.5,0,0,1,2.053,3c-0.124-.247-0.023-0.324.224-0.447l1-.5A0.5,0.5,0,0,1,4,2.5v3A0.5,0.5,0,0,1,3.5,6Z">
                                                                </path>
                                                                <path class="ql-stroke ql-thin"
                                                                    d="M4.5,10.5h-2c0-.234,1.85-1.076,1.85-2.234A0.959,0.959,0,0,0,2.5,8.156">
                                                                </path>
                                                                <path class="ql-stroke ql-thin"
                                                                    d="M2.5,14.846a0.959,0.959,0,0,0,1.85-.109A0.7,0.7,0,0,0,3.75,14a0.688,0.688,0,0,0,.6-0.736,0.959,0.959,0,0,0-1.85-.109">
                                                                </path>
                                                            </svg></button>
                                                        <button class="ql-list" value="bullet" type="button"><svg
                                                                viewBox="0 0 18 18">
                                                                <line class="ql-stroke" x1="6" x2="15" y1="4" y2="4">
                                                                </line>
                                                                <line class="ql-stroke" x1="6" x2="15" y1="9" y2="9">
                                                                </line>
                                                                <line class="ql-stroke" x1="6" x2="15" y1="14" y2="14">
                                                                </line>
                                                                <line class="ql-stroke" x1="3" x2="3" y1="4" y2="4">
                                                                </line>
                                                                <line class="ql-stroke" x1="3" x2="3" y1="9" y2="9">
                                                                </line>
                                                                <line class="ql-stroke" x1="3" x2="3" y1="14" y2="14">
                                                                </line>
                                                            </svg></button>
                                                        <button class="ql-link" type="button"><svg viewBox="0 0 18 18">
                                                                <line class="ql-stroke" x1="7" x2="11" y1="7" y2="11">
                                                                </line>
                                                                <path class="ql-even ql-stroke"
                                                                    d="M8.9,4.577a3.476,3.476,0,0,1,.36,4.679A3.476,3.476,0,0,1,4.577,8.9C3.185,7.5,2.035,6.4,4.217,4.217S7.5,3.185,8.9,4.577Z">
                                                                </path>
                                                                <path class="ql-even ql-stroke"
                                                                    d="M13.423,9.1a3.476,3.476,0,0,0-4.679-.36,3.476,3.476,0,0,0,.36,4.679c1.392,1.392,2.5,2.542,4.679.36S14.815,10.5,13.423,9.1Z">
                                                                </path>
                                                            </svg></button>
                                                        <button class="ql-image" type="button"><svg viewBox="0 0 18 18">
                                                                <rect class="ql-stroke" height="10" width="12" x="3"
                                                                    y="4"></rect>
                                                                <circle class="ql-fill" cx="6" cy="7" r="1"></circle>
                                                                <polyline class="ql-even ql-fill"
                                                                    points="5 12 5 11 7 9 8 10 11 7 13 9 13 12 5 12">
                                                                </polyline>
                                                            </svg></button>
                                                    </span>
                                                </div>
                                            </div>
                                            <div class="comment-editor border-0 pb-1 ql-container ql-snow"
                                                id="ecommerce-category-description">
                                                <div class="ql-editor ql-blank" data-gramm="false"
                                                    contenteditable="true" data-placeholder="Product Description">
                                                    <p><br></p>
                                                </div>
                                                <div class="ql-clipboard" contenteditable="true" tabindex="-1"></div>
                                                <div class="ql-tooltip ql-hidden"><a class="ql-preview"
                                                        rel="noopener noreferrer" target="_blank"
                                                        href="about:blank"></a><input type="text" data-formula="e=mc^2"
                                                        data-link="https://quilljs.com" data-video="Embed URL"><a
                                                        class="ql-action"></a><a class="ql-remove"></a></div>
                                            </div>

                                        </div>
                                    </div>
                                </div>
                            </div>
                            <!-- /Product Information -->
                            <!-- Media -->
                            <div class="card mb-6">
                                <div class="card-header d-flex justify-content-between align-items-center">
                                    <h5 class="mb-0 card-title">Product Image</h5>
                                    <a href="javascript:void(0);" class="fw-medium">Add media from URL</a>
                                </div>
                                <div class="card-body">
                                    <form action="/upload" class="dropzone needsclick dz-clickable" id="dropzone-basic">
                                        <div class="dz-message needsclick">
                                            <div class="d-flex justify-content-center">
                                                <div class="avatar avatar-md">
                                                    <span class="avatar-initial rounded bg-label-secondary">
                                                        <i class="ri-upload-2-line ri-24px"></i>
                                                    </span>
                                                </div>
                                            </div>
                                            <p class="h4 needsclick my-2">Drag and drop your image here</p>
                                            <small class="text-muted d-block fs-6 my-2">or</small>
                                            <span class="needsclick btn btn-sm btn-outline-primary waves-effect"
                                                id="btnBrowse">Browse image</span>
                                        </div>

                                    </form>
                                </div>
                            </div>
                            <!-- /Media -->
                            <!-- Variants -->
                            <div class="card mb-6">
                                <div class="card-header">
                                    <h5 class="card-title mb-0">Variants</h5>
                                </div>
                                <div class="card-body">
                                    <form class="form-repeater">
                                        <div data-repeater-list="group-a">
                                            <div data-repeater-item="">
                                                <div class="row gx-5">
                                                    <div class="mb-6 col-sm-4">
                                                        <div
                                                            class="form-floating form-floating-outline form-floating-select2">
                                                            <div class="position-relative"><select id="select2Basic"
                                                                    class="select2 form-select select2-hidden-accessible"
                                                                    data-placeholder="Option" data-allow-clear="true"
                                                                    data-select2-id="select2Basic" tabindex="-1"
                                                                    aria-hidden="true">
                                                                    <option value="" data-select2-id="2">Option</option>
                                                                    <option value="size">Size</option>
                                                                    <option value="color">Color</option>
                                                                    <option value="weight">Weight</option>
                                                                    <option value="smell">Smell</option>
                                                                </select><span
                                                                    class="select2 select2-container select2-container--default"
                                                                    dir="ltr" data-select2-id="1"
                                                                    style="width: 239.812px;"><span
                                                                        class="selection"><span
                                                                            class="select2-selection select2-selection--single"
                                                                            role="combobox" aria-haspopup="true"
                                                                            aria-expanded="false" tabindex="0"
                                                                            aria-disabled="false"
                                                                            aria-labelledby="select2-select2Basic-container"><span
                                                                                class="select2-selection__rendered"
                                                                                id="select2-select2Basic-container"
                                                                                role="textbox"
                                                                                aria-readonly="true"><span
                                                                                    class="select2-selection__placeholder">Option</span></span><span
                                                                                class="select2-selection__arrow"
                                                                                role="presentation"><b
                                                                                    role="presentation"></b></span></span></span><span
                                                                        class="dropdown-wrapper"
                                                                        aria-hidden="true"></span></span></div>
                                                            <label for="select2Basic">Option</label>
                                                        </div>
                                                    </div>
                                                    <div class="mb-6 col-sm-8">
                                                        <div class="form-floating form-floating-outline">
                                                            <input type="text" id="form-repeater-1-2"
                                                                class="form-control" placeholder="Enter size">
                                                            <label for="form-repeater-1-2">Value</label>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div>
                                            <button class="btn btn-primary waves-effect waves-light"
                                                data-repeater-create="">
                                                <i class="ri-add-line ri-16px me-1_5"></i>
                                                Add another option
                                            </button>
                                        </div>
                                    </form>
                                </div>
                            </div>
                            <!-- /Variants -->
                            <!-- Inventory -->
                            <div class="card mb-6">
                                <div class="card-header">
                                    <h5 class="card-title mb-0">Inventory</h5>
                                </div>
                                <div class="card-body">
                                    <div class="row">
                                        <!-- Navigation -->
                                        <div class="col-12 col-md-4 col-xl-5 col-xxl-4 mx-auto card-separator">
                                            <div
                                                class="d-flex justify-content-between flex-column mb-4 mb-md-0 pe-md-4">
                                                <div class="nav-align-left">
                                                    <ul class="nav nav-pills flex-column w-100" role="tablist">
                                                        <li class="nav-item" role="presentation">
                                                            <button class="nav-link active waves-effect waves-light"
                                                                data-bs-toggle="tab" data-bs-target="#restock"
                                                                aria-selected="true" role="tab">
                                                                <i class="ri-add-line me-1_5"></i>
                                                                <span class="align-middle">Restock</span>
                                                            </button>
                                                        </li>
                                                        <li class="nav-item" role="presentation">
                                                            <button class="nav-link waves-effect waves-light"
                                                                data-bs-toggle="tab" data-bs-target="#shipping"
                                                                aria-selected="false" tabindex="-1" role="tab">
                                                                <i class="ri-car-line me-1_5"></i>
                                                                <span class="align-middle">Shipping</span>
                                                            </button>
                                                        </li>
                                                        <li class="nav-item" role="presentation">
                                                            <button class="nav-link waves-effect waves-light"
                                                                data-bs-toggle="tab" data-bs-target="#global-delivery"
                                                                aria-selected="false" tabindex="-1" role="tab">
                                                                <i class="ri-global-line me-1_5"></i>
                                                                <span class="align-middle">Global Delivery</span>
                                                            </button>
                                                        </li>
                                                        <li class="nav-item" role="presentation">
                                                            <button class="nav-link waves-effect waves-light"
                                                                data-bs-toggle="tab" data-bs-target="#attributes"
                                                                aria-selected="false" tabindex="-1" role="tab">
                                                                <i class="ri-link-m me-1_5"></i>
                                                                <span class="align-middle">Attributes</span>
                                                            </button>
                                                        </li>
                                                        <li class="nav-item" role="presentation">
                                                            <button class="nav-link waves-effect waves-light"
                                                                data-bs-toggle="tab" data-bs-target="#advanced"
                                                                aria-selected="false" tabindex="-1" role="tab">
                                                                <i class="ri-lock-unlock-line me-1_5"></i>
                                                                <span class="align-middle">Advanced</span>
                                                            </button>
                                                        </li>
                                                    </ul>
                                                </div>
                                            </div>
                                        </div>
                                        <!-- /Navigation -->
                                        <!-- Options -->
                                        <div class="col-12 col-md-8 col-xl-7 col-xxl-8 pt-6 pt-md-0">
                                            <div class="tab-content p-0 pe-xl-0 ps-md-4">
                                                <!-- Restock Tab -->
                                                <div class="tab-pane fade show active" id="restock" role="tabpanel">
                                                    <h6 class="text-body">Options</h6>
                                                    <div class="row mb-4 g-4">
                                                        <div class="col-12 col-sm-8 col-lg-12 col-xxl-8">
                                                            <div>
                                                                <input type="number"
                                                                    class="form-control form-control-sm"
                                                                    id="ecommerce-product-stock"
                                                                    placeholder="Add to Stock" name="Add to Stock"
                                                                    aria-label="Add to Stock">
                                                            </div>
                                                        </div>
                                                        <div class="col-6 col-sm-4 col-lg-6 col-xxl-4">
                                                            <button class="btn btn-primary waves-effect waves-light"><i
                                                                    class="ri-check-line ri-16px me-1_5"></i>Confirm</button>
                                                        </div>
                                                    </div>
                                                    <div>
                                                        <h6 class="mb-2 fw-normal">Product in stock now: 54</h6>
                                                        <h6 class="mb-2 fw-normal">Product in transit: 390</h6>
                                                        <h6 class="mb-2 fw-normal">Last time restocked: 24th June, 2023
                                                        </h6>
                                                        <h6 class="mb-0 fw-normal">Total stock over lifetime: 2430</h6>
                                                    </div>
                                                </div>
                                                <!-- Shipping Tab -->
                                                <div class="tab-pane fade" id="shipping" role="tabpanel">
                                                    <h6 class="mb-3 text-body">Shipping Type</h6>
                                                    <div>
                                                        <div class="form-check mb-4">
                                                            <input class="form-check-input" type="radio"
                                                                name="shippingType" id="seller">
                                                            <label class="form-check-label" for="seller">
                                                                <span class="h6">Fulfilled by Seller</span><br>
                                                                <small>You'll be responsible for product delivery.<br>
                                                                    Any damage or delay during shipping may cost you a
                                                                    Damage fee.</small>
                                                            </label>
                                                        </div>
                                                        <div class="form-check mb-6">
                                                            <input class="form-check-input" type="radio"
                                                                name="shippingType" id="companyName" checked="">
                                                            <label class="form-check-label" for="companyName">
                                                                <span class="h6">Fulfilled by Company name &nbsp;<span
                                                                        class="badge rounded-pill badge-warning bg-label-warning fs-tiny py-1">RECOMMENDED</span></span><br>
                                                                <small>Your product, Our responsibility.<br>
                                                                    For a measly fee, we will handle the delivery
                                                                    process for you.</small>
                                                            </label>
                                                        </div>
                                                        <p class="mb-0">See our <a href="javascript:void(0);">Delivery
                                                                terms and conditions</a> for details
                                                        </p>
                                                    </div>
                                                </div>
                                                <!-- Global Delivery Tab -->
                                                <div class="tab-pane fade" id="global-delivery" role="tabpanel">
                                                    <h6 class="mb-3 text-body">Global Delivery</h6>
                                                    <!-- Worldwide delivery -->
                                                    <div class="form-check mb-4">
                                                        <input class="form-check-input" type="radio" name="globalDel"
                                                            id="worldwide">
                                                        <label class="form-check-label" for="worldwide">
                                                            <span class="h6">Worldwide delivery</span><br>
                                                            <small>Only available with Shipping method:
                                                                <a href="javascript:void(0);">Fulfilled by Company
                                                                    name</a></small>
                                                        </label>
                                                    </div>
                                                    <!-- Global delivery -->
                                                    <div class="form-check mb-4">
                                                        <input class="form-check-input" type="radio" name="globalDel"
                                                            checked="">
                                                        <label class="form-check-label w-75 pe-12 mb-2"
                                                            for="country-selected">
                                                            <span class="h6">Selected Countries</span>
                                                        </label>
                                                        <div>
                                                            <input type="text" class="form-control form-control-sm"
                                                                placeholder="Countries" id="country-selected">
                                                        </div>
                                                    </div>
                                                    <!-- Local delivery -->
                                                    <div class="form-check">
                                                        <input class="form-check-input" type="radio" name="globalDel"
                                                            id="local">
                                                        <label class="form-check-label" for="local">
                                                            <span class="h6">Local delivery</span><br>
                                                            <small>Deliver to your country of residence :
                                                                <a href="javascript:void(0);">Change profile
                                                                    address</a></small>
                                                        </label>
                                                    </div>
                                                </div>
                                                <!-- Attributes Tab -->
                                                <div class="tab-pane fade" id="attributes" role="tabpanel">
                                                    <h6 class="mb-2 text-body">Attributes</h6>
                                                    <div>
                                                        <!-- Fragile Product -->
                                                        <div class="form-check mb-4">
                                                            <input class="form-check-input" type="checkbox"
                                                                value="fragile" id="fragile">
                                                            <label class="form-check-label" for="fragile">
                                                                <span class="h6 fw-normal">Fragile Product</span>
                                                            </label>
                                                        </div>
                                                        <!-- Biodegradable -->
                                                        <div class="form-check mb-4">
                                                            <input class="form-check-input" type="checkbox"
                                                                value="biodegradable" id="biodegradable">
                                                            <label class="form-check-label" for="biodegradable">
                                                                <span class="h6 fw-normal">Biodegradable</span>
                                                            </label>
                                                        </div>
                                                        <!-- Frozen Product -->
                                                        <div class="form-check mb-4">
                                                            <input class="form-check-input" type="checkbox" id="frozen"
                                                                value="frozen" checked="">
                                                            <label class="form-check-label w-75 pe-12 mb-2"
                                                                for="frozen">
                                                                <span class="h6 fw-normal mb-1">Frozen Product</span>
                                                            </label>
                                                            <div>
                                                                <input type="number"
                                                                    class="form-control form-control-sm"
                                                                    placeholder="Max. allowed Temperature" id="temp">
                                                            </div>
                                                        </div>
                                                        <!-- Exp Date -->
                                                        <div class="form-check">
                                                            <input class="form-check-input" type="checkbox"
                                                                value="expDate" id="expDate" checked="">
                                                            <label class="form-check-label w-75 pe-12 mb-2"
                                                                for="expDate">
                                                                <span class="h6 fw-normal mb-1">Expiry Date of
                                                                    Product</span>
                                                            </label>
                                                            <div>
                                                                <input type="text"
                                                                    class="product-date form-control form-control-sm flatpickr-input"
                                                                    id="flatpickr-date" readonly="readonly">
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                                <!-- /Attributes Tab -->
                                                <!-- Advanced Tab -->
                                                <div class="tab-pane fade" id="advanced" role="tabpanel">
                                                    <h6 class="mb-3 text-body">Advanced</h6>
                                                    <div class="row">
                                                        <!-- Product Id Type -->
                                                        <div class="col">
                                                            <h6 class="mb-2">Product ID Type</h6>
                                                            <div>
                                                                <select id="product-id"
                                                                    class="form-select form-select-sm"
                                                                    data-placeholder="ISBN" data-allow-clear="true">
                                                                    <option value="ISBN">ISBN</option>
                                                                    <option value="UPC">UPC</option>
                                                                    <option value="EAN">EAN</option>
                                                                    <option value="JAN">JAN</option>
                                                                </select>
                                                            </div>
                                                        </div>
                                                        <!-- Product Id -->
                                                        <div class="col">
                                                            <h6 class="mb-2">Product ID</h6>
                                                            <div>
                                                                <input type="number" id="product-id-1"
                                                                    class="form-control form-control-sm"
                                                                    placeholder="ISBN Number">
                                                            </div>
                                                        </div>

                                                    </div>
                                                </div>
                                                <!-- /Advanced Tab -->

                                            </div>
                                        </div>
                                        <!-- /Options-->
                                    </div>
                                </div>
                            </div>
                            <!-- /Inventory -->
                        </div>
                        <!-- /Second column -->

                        <!-- Second column -->
                        <div class="col-12 col-lg-4">
                            <!-- Pricing Card -->
                            <div class="card mb-6">
                                <div class="card-header">
                                    <h5 class="card-title mb-0">Pricing</h5>
                                </div>
                                <div class="card-body">
                                    <!-- Base Price -->
                                    <div class="form-floating form-floating-outline mb-5">
                                        <input type="number" class="form-control" id="ecommerce-product-price"
                                            placeholder="Price" name="productPrice" aria-label="Product price">
                                        <label for="ecommerce-product-price">Best Price</label>
                                    </div>

                                    <!-- Discounted Price -->
                                    <div class="form-floating form-floating-outline mb-5">
                                        <input type="number" class="form-control" id="ecommerce-product-discount-price"
                                            placeholder="Discounted Price" name="productDiscountedPrice"
                                            aria-label="Product discounted price">
                                        <label for="ecommerce-product-discount-price">Discounted Price</label>
                                    </div>
                                    <!-- Charge tax check box -->
                                    <div class="form-check my-2">
                                        <input class="form-check-input" type="checkbox" value="" id="price-charge-tax"
                                            checked="">
                                        <label class="mb-2 text-heading" for="price-charge-tax">
                                            Charge tax on this product
                                        </label>
                                    </div>
                                    <!-- Instock switch -->
                                    <div class="d-flex justify-content-between align-items-center border-top pt-4 pb-2">
                                        <p class="mb-0">In stock</p>
                                        <div class="w-25 d-flex justify-content-end">
                                            <div class="form-check form-switch me-n3">
                                                <input type="checkbox" class="form-check-input" checked="">
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <!-- /Pricing Card -->
                            <!-- Organize Card -->
                            <div class="card mb-6">
                                <div class="card-header">
                                    <h5 class="card-title mb-0">Organize</h5>
                                </div>
                                <div class="card-body">
                                    <!-- Vendor -->
                                    <div class="mb-5 col ecommerce-select2-dropdown">
                                        <select id="vendor" class="form-select form-select-sm"
                                            data-placeholder="Select Vendor">
                                            <option value="">Select Vendor</option>
                                            <option value="men-clothing">Men's Clothing</option>
                                            <option value="women-clothing">Women's-clothing</option>
                                            <option value="kid-clothing">Kid's-clothing</option>
                                        </select>
                                    </div>
                                    <!-- Category -->
                                    <div
                                        class="mb-5 col ecommerce-select2-dropdown d-flex justify-content-between align-items-center">
                                        <div class="w-100 me-4">
                                            <select id="category-org" class="form-select form-select-sm"
                                                data-placeholder="Select Category">
                                                <option value="">Select Category</option>
                                                <option value="Household">Household</option>
                                                <option value="Management">Management</option>
                                                <option value="Electronics">Electronics</option>
                                                <option value="Office">Office</option>
                                                <option value="Automotive">Automotive</option>
                                            </select>
                                        </div>
                                        <div>
                                            <button class="btn btn-outline-primary btn-icon waves-effect">
                                                <i class="ri-add-line"></i>
                                            </button>
                                        </div>

                                    </div>
                                    <!-- Collection -->
                                    <div class="mb-5 col ecommerce-select2-dropdown">
                                        <select id="collection" class="form-select form-select-sm"
                                            data-placeholder="Collection">
                                            <option value="">Collection</option>
                                            <option value="men-clothing">Men's Clothing</option>
                                            <option value="women-clothing">Women's-clothing</option>
                                            <option value="kid-clothing">Kid's-clothing</option>
                                        </select>
                                    </div>
                                    <!-- Status -->
                                    <div class="mb-5 col ecommerce-select2-dropdown">
                                        <select id="status-org" class="form-select form-select-sm"
                                            data-placeholder="Select Status">
                                            <option value="">Select Status</option>
                                            <option value="Published">Published</option>
                                            <option value="Scheduled">Scheduled</option>
                                            <option value="Inactive">Inactive</option>
                                        </select>
                                    </div>
                                    <!-- Tags -->
                                    <div class="mb-4">
                                        <div class="form-floating form-floating-outline">
                                            <tags class="tagify  form-control h-auto" tabindex="-1">
                                                <tag title="Normal" contenteditable="false" spellcheck="false"
                                                    tabindex="-1" class="tagify__tag tagify--noAnim" value="Normal">
                                                    <x title="" class="tagify__tag__removeBtn" role="button"
                                                        aria-label="remove tag"></x>
                                                    <div><span class="tagify__tag-text">Normal</span></div>
                                                </tag>
                                                <tag title="Standard" contenteditable="false" spellcheck="false"
                                                    tabindex="-1" class="tagify__tag tagify--noAnim" value="Standard">
                                                    <x title="" class="tagify__tag__removeBtn" role="button"
                                                        aria-label="remove tag"></x>
                                                    <div><span class="tagify__tag-text">Standard</span></div>
                                                </tag>
                                                <tag title="Premium" contenteditable="false" spellcheck="false"
                                                    tabindex="-1" class="tagify__tag tagify--noAnim" value="Premium">
                                                    <x title="" class="tagify__tag__removeBtn" role="button"
                                                        aria-label="remove tag"></x>
                                                    <div><span class="tagify__tag-text">Premium</span></div>
                                                </tag><span contenteditable="" tabindex="0" data-placeholder=""
                                                    aria-placeholder="" class="tagify__input" role="textbox"
                                                    aria-autocomplete="both" aria-multiline="false"></span>
                                                
                                            </tags><input id="ecommerce-product-tags" class="form-control h-auto"
                                                name="ecommerce-product-tags" value="Normal,Standard,Premium"
                                                aria-label="Product Tags" tabindex="-1">
                                            <label for="ecommerce-product-tags">Tags</label>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <!-- /Organize Card -->
                        </div>
                        <!-- /Second column -->
                    </div>
                </div>



            </div>
            <!-- / Content -->

            <div class="content-backdrop fade"></div>
        </div>
        <!-- Content wrapper -->
        </div>
        <!-- / Layout page -->
        </div>



        <!-- Overlay -->
        <div class="layout-overlay layout-menu-toggle"></div>


        <!-- Drag Target Area To SlideIn Menu On Small Screens -->
        <div class="drag-target"></div>

        </div>
        <!-- / Layout wrapper -->







        <!-- Core JS -->
        <!-- build:js assets/vendor/js/core.js -->
        <script src="assets/vendor/libs/jquery/jquery.js"></script>
        <script src="assets/vendor/libs/popper/popper.js"></script>
        <script src="assets/vendor/js/bootstrap.js"></script>
        <script src="assets/vendor/libs/node-waves/node-waves.js"></script>
        <script src="assets/vendor/libs/perfect-scrollbar/perfect-scrollbar.js"></script>
        <script src="assets/vendor/libs/hammer/hammer.js"></script>
        <script src="assets/vendor/libs/i18n/i18n.js"></script>
        <script src="assets/vendor/libs/typeahead-js/typeahead.js"></script>
        <script src="assets/vendor/js/menu.js"></script>

        <!-- endbuild -->

        <!-- Vendors JS -->
        <script src="assets/vendor/libs/quill/katex.js"></script>
        <script src="assets/vendor/libs/quill/quill.js"></script>
        <script src="assets/vendor/libs/select2/select2.js"></script>
        <script src="assets/vendor/libs/dropzone/dropzone.js"></script>
        <script src="assets/vendor/libs/jquery-repeater/jquery-repeater.js"></script>
        <script src="assets/vendor/libs/flatpickr/flatpickr.js"></script>
        <script src="assets/vendor/libs/tagify/tagify.js"></script>

        <!-- Main JS -->
        <script src="assets/js/main.js"></script>


        <!-- Page JS -->
        <!-- <script src="assets/js/app-ecommerce-product-add.js"></script> -->

        </body>


        <!-- Mirrored from demos.themeselection.com/materio-bootstrap-html-admin-template/html/vertical-menu-template/app-ecommerce-product-add.html by HTTrack Website Copier/3.x [XR&CO'2014], Tue, 25 Jun 2024 05:50:31 GMT -->

        </html>

        <!-- beautify ignore:end -->