
  <body>

  <!-- ?PROD Only: Google Tag Manager (noscript) (Default ThemeSelection: GTM-5DDHKGP, PixInvent: GTM-5J3LMKC) -->
  <noscript><iframe src="https://www.googletagmanager.com/ns.html?id=GTM-5DDHKGP" height="0" width="0" style="display: none; visibility: hidden"></iframe></noscript>
  <!-- End Google Tag Manager (noscript) -->
  
  <!-- Layout wrapper -->
<div class="layout-wrapper layout-content-navbar  ">
  <div class="layout-container">

    
    




<!-- Menu -->

<aside id="layout-menu" class="layout-menu menu-vertical menu bg-menu-theme">

  
  <div class="app-brand demo ">
    <a href="AdminHome.ejs" class="app-brand-link">
      <span class="app-brand-logo demo me-1">
<span style="color:var(--bs-primary);">
  <svg width="30" height="24" viewBox="0 0 250 196" fill="none" xmlns="http://www.w3.org/2000/svg">
    <path fill-rule="evenodd" clip-rule="evenodd" d="M12.3002 1.25469L56.655 28.6432C59.0349 30.1128 60.4839 32.711 60.4839 35.5089V160.63C60.4839 163.468 58.9941 166.097 56.5603 167.553L12.2055 194.107C8.3836 196.395 3.43136 195.15 1.14435 191.327C0.395485 190.075 0 188.643 0 187.184V8.12039C0 3.66447 3.61061 0.0522461 8.06452 0.0522461C9.56056 0.0522461 11.0271 0.468577 12.3002 1.25469Z" fill="currentColor" />
    <path opacity="0.077704" fill-rule="evenodd" clip-rule="evenodd" d="M0 65.2656L60.4839 99.9629V133.979L0 65.2656Z" fill="black" />
    <path opacity="0.077704" fill-rule="evenodd" clip-rule="evenodd" d="M0 65.2656L60.4839 99.0795V119.859L0 65.2656Z" fill="black" />
    <path fill-rule="evenodd" clip-rule="evenodd" d="M237.71 1.22393L193.355 28.5207C190.97 29.9889 189.516 32.5905 189.516 35.3927V160.631C189.516 163.469 191.006 166.098 193.44 167.555L237.794 194.108C241.616 196.396 246.569 195.151 248.856 191.328C249.605 190.076 250 188.644 250 187.185V8.09597C250 3.64006 246.389 0.027832 241.935 0.027832C240.444 0.027832 238.981 0.441882 237.71 1.22393Z" fill="currentColor" />
    <path opacity="0.077704" fill-rule="evenodd" clip-rule="evenodd" d="M250 65.2656L189.516 99.8897V135.006L250 65.2656Z" fill="black" />
    <path opacity="0.077704" fill-rule="evenodd" clip-rule="evenodd" d="M250 65.2656L189.516 99.0497V120.886L250 65.2656Z" fill="black" />
    <path fill-rule="evenodd" clip-rule="evenodd" d="M12.2787 1.18923L125 70.3075V136.87L0 65.2465V8.06814C0 3.61223 3.61061 0 8.06452 0C9.552 0 11.0105 0.411583 12.2787 1.18923Z" fill="currentColor" />
    <path fill-rule="evenodd" clip-rule="evenodd" d="M12.2787 1.18923L125 70.3075V136.87L0 65.2465V8.06814C0 3.61223 3.61061 0 8.06452 0C9.552 0 11.0105 0.411583 12.2787 1.18923Z" fill="white" fill-opacity="0.15" />
    <path fill-rule="evenodd" clip-rule="evenodd" d="M237.721 1.18923L125 70.3075V136.87L250 65.2465V8.06814C250 3.61223 246.389 0 241.935 0C240.448 0 238.99 0.411583 237.721 1.18923Z" fill="currentColor" />
    <path fill-rule="evenodd" clip-rule="evenodd" d="M237.721 1.18923L125 70.3075V136.87L250 65.2465V8.06814C250 3.61223 246.389 0 241.935 0C240.448 0 238.99 0.411583 237.721 1.18923Z" fill="white" fill-opacity="0.3" />
  </svg>
</span>
</span>
      <span class="app-brand-text demo menu-text fw-semibold ms-2">Taara</span>
    </a>

    <a href="" class="layout-menu-toggle menu-link text-large ms-auto">
      <i class="menu-toggle-icon d-xl-block align-middle"></i>
    </a>
  </div>

  <div class="menu-inner-shadow"></div>

  
  
  <ul class="menu-inner py-1">
    <!-- Dashboards -->
    <li class="menu-item">
      <a href="/admin/dashboard" class="menu-link ">
        <i class="menu-icon tf-icons ri-bar-chart-2-line"></i>
        <div data-i18n="Dashboard">Dashboard</div>
        <div class="badge bg-danger rounded-pill ms-auto"></div>
      </a>
    </li>
    <!-- Product Management-->
    <li class="menu-header mt-4">
      <span class="menu-header-text" data-i18n="Product Management">Product Management</span>
    </li>
    
    <li class="menu-item">
      <a href="" class="menu-link menu-toggle">
        <i class="menu-icon tf-icons ri-shirt-line"></i>
        <div data-i18n="Products">Products</div>
      </a>
      <ul class="menu-sub">
        <li class="menu-item">
          <a href="/admin/products" class="menu-link">
            <div data-i18n="Product List">Product List</div>
          </a>
        </li>
        <li class="menu-item">
          <a href="/admin/products/addProduct" class="menu-link">
            <div data-i18n="Add Product">Add Product</div>
          </a>
        </li>
        <li class="menu-item">
          <a href="/admin/categories" class="menu-link">
            <div data-i18n="Category List">Category List</div>
          </a>
        </li>
        <li class="menu-item">
          <a href="/admin/brands" class="menu-link">
            <div data-i18n="Brand List">Brand</div>
          </a>
        </li>
      </ul>
    </li>

    <!-- Order Management-->
    <li class="menu-header mt-4">
      <span class="menu-header-text" data-i18n="Order Management">Order Management</span>
    </li>
    
    <li class="menu-item">
      <a href="" class="menu-link menu-toggle">
        <i class="menu-icon tf-icons ri-shopping-bag-line"></i>
        <div data-i18n="Orders">Orders</div>
      </a>
      <ul class="menu-sub">
        <li class="menu-item">
          <a href="/admin/orders" class="menu-link">
            <div data-i18n="Order List">Order List</div>
          </a>
        </li>
        <li class="menu-item">
          <a href="app-ecommerce-order-details.html" class="menu-link">
            <div data-i18n="Order Details">Order Details</div>
          </a>
        </li>
      </ul>
    </li>
    

    <!-- Customet Management -->
    <li class="menu-header mt-4">
      <span class="menu-header-text" data-i18n="Customer Management">Customer Management</span>
    </li>
    <!-- Cards -->
    <li class="menu-item">
      <a href="" class="menu-link menu-toggle">
        <i class="menu-icon tf-icons ri-user-line"></i>
        <div data-i18n="Customer">Customer</div>
      </a>
      <ul class="menu-sub">
        <li class="menu-item">
          <a href="/admin/users" class="menu-link">
            <div data-i18n="All Customers">All Customers</div>
          </a>
        </li>
        <li class="menu-item">
          <a href="" class="menu-link menu-toggle">
            <div data-i18n="Customer Details">Customer Details</div>
          </a>
          <ul class="menu-sub">
            <li class="menu-item">
              <a href="app-ecommerce-customer-details-overview.html" class="menu-link">
                <div data-i18n="Overview">Overview</div>
              </a>
            </li>
            <li class="menu-item">
              <a href="app-ecommerce-customer-details-security.html" class="menu-link">
                <div data-i18n="Security">Security</div>
              </a>
            </li>
            <li class="menu-item">
              <a href="app-ecommerce-customer-details-billing.html" class="menu-link">
                <div data-i18n="Address & Billing">Address & Billing</div>
              </a>
            </li>
            <li class="menu-item">
              <a href="app-ecommerce-customer-details-notifications.html" class="menu-link">
                <div data-i18n="Notifications">Notifications</div>
              </a>
            </li>

          </ul>
        </li>
      </ul>
    </li>
    <li class="menu-item">
      <a href="app-ecommerce-manage-reviews.html" class="menu-link">
        <i class="menu-icon tf-icons ri-star-s-line"></i>
        <div data-i18n="Manage Reviews">Manage Reviews</div>
      </a>
    </li>

    <!-- Offers & Coupons -->
    <li class="menu-header mt-4">
      <span class="menu-header-text" data-i18n="Offers & Coupons">Offers &amp; Coupons</span>
    </li>
    <!-- Forms -->
    <li class="menu-item">
      <a href="" class="menu-link menu-toggle">
        <i class="menu-icon tf-icons ri-discount-percent-line"></i>
        <div data-i18n="Offers & Coupons">Offers &amp; Coupons</div>
      </a>
      <ul class="menu-sub">
        <li class="menu-item">
          <a href="/admin/offers" class="menu-link">
            <div data-i18n="Offers">Offers</div>
          </a>
        </li>
        <li class="menu-item">
          <a href="/admin/coupons" class="menu-link">
            <div data-i18n="Coupons">Coupons</div>
          </a>
        </li>
        
      </ul>

    </li>
    

    <!-- Banners -->
    <li class="menu-header mt-4">
      <span class="menu-header-text" data-i18n="Banners">Banners</span>
    </li>
    <li class="menu-item">
      <a href="" class="menu-link menu-toggle">
        <i class="menu-icon tf-icons ri-file-image-line"></i>
        <div data-i18n="Banners">Banners</div>
      </a>
      <ul class="menu-sub">
        <li class="menu-item">
          <a href="charts-apex.html" class="menu-link">
            <div data-i18n="All Banners">All Banners</div>
          </a>
        </li>
        <li class="menu-item">
          <a href="charts-chartjs.html" class="menu-link">
            <div data-i18n="Add Banners">Add Banners</div>
          </a>
        </li>
      </ul>
    

    <!-- Sales -->
    <li class="menu-header mt-4">
      <span class="menu-header-text" data-i18n="Sales">Sales</span>
    </li>
    <li class="menu-item mb-5">
      <a href="/admin/sales" class="menu-link">
        <i class="menu-icon tf-icons ri-article-line"></i>
        <div data-i18n="Sales Report">Sales Report</div>
      </a>
    </li>
    
  </ul>
  
  

</aside>
<!-- / Menu -->

    

    <!-- Layout container -->
    <div class="layout-page">
      
      



<!-- Navbar -->

<nav class="layout-navbar container-xxl navbar navbar-expand-xl navbar-detached align-items-center bg-navbar-theme" id="layout-navbar">
  

  

      
      

      
      
      <div class="layout-menu-toggle navbar-nav align-items-xl-center me-4 me-xl-0   d-xl-none ">
        <a class="nav-item nav-link px-0 me-xl-6" href="">
          <i class="ri-menu-fill ri-24px"></i>
        </a>
      </div>
      

      <div class="navbar-nav-right d-flex align-items-center" id="navbar-collapse">

        
        <!-- Search -->
        
        <!-- /Search -->
        
        

        

        <ul class="navbar-nav flex-row align-items-center ms-auto">

          
          
          
          <!--/ Language -->
          
          <!-- Style Switcher -->
          
          <!-- / Style Switcher-->
          
          <!-- Quick links  -->
          
          <!-- Quick links -->

          <!-- Notification -->
          
          <!--/ Notification -->

          <!-- User -->
          <li class="nav-item navbar-dropdown dropdown-user dropdown">
            <a class="nav-link dropdown-toggle hide-arrow p-0" href="=" data-bs-toggle="dropdown">
              <div class="avatar avatar-online">
                <img src="/Admin/assets/img/avatars/1.png" alt class="w-px-40 h-auto rounded-circle">
              </div>
            </a>
            <ul class="dropdown-menu dropdown-menu-end mt-3 py-2">
              <li>
                <a class="dropdown-item" href="pages-account-settings-account.html">
                  <div class="d-flex align-items-center">
                    <div class="flex-shrink-0 me-2">
                      <div class="avatar avatar-online">
                        <img src="/Admin/assets/img/avatars/1.png" alt class="w-px-40 h-auto rounded-circle">
                      </div>
                    </div>
                    <div class="flex-grow-1">
                      <h6 class="mb-0 small">John Doe</h6>
                      <small class="text-muted">Admin</small>

                    </div>
                  </div>
                </a>
              </li>
              <li>
                <div class="dropdown-divider"></div>
              </li>
              <li>
                <a class="dropdown-item" href="pages-profile-user.html">
                  <i class="ri-user-3-line ri-22px me-2"></i>
                  <span class="align-middle">My Profile</span>
                </a>
              </li>
              <li>
                <a class="dropdown-item" href="pages-account-settings-account.html">
                  <i class="ri-settings-4-line ri-22px me-2"></i>
                  <span class="align-middle">Settings</span>
                </a>
              </li>
              <li>
                <a class="dropdown-item" href="pages-account-settings-billing.html">
                  <span class="d-flex align-items-center align-middle">
                    <i class="flex-shrink-0 ri-file-text-line ri-22px me-2"></i>
                    <span class="flex-grow-1 align-middle">Billing</span>
                    <span class="flex-shrink-0 badge badge-center rounded-pill bg-danger h-px-20 d-flex align-items-center justify-content-center">4</span>
                  </span>
                </a>
              </li>
              <li>
                <div class="dropdown-divider"></div>
              </li>
              <li>
                <a class="dropdown-item" href="pages-pricing.html">
                  <i class="ri-money-dollar-circle-line ri-22px me-2"></i>
                  <span class="align-middle">Pricing</span>
                </a>
              </li>
              <li>
                <a class="dropdown-item" href="pages-faq.html">
                  <i class="ri-question-line ri-22px me-2"></i>
                  <span class="align-middle">FAQ</span>
                </a>
              </li>
              <li>
                <div class="d-grid px-4 pt-2 pb-1">
                  <a class="btn btn-danger d-flex" id="adminLogout" href="#" target="_blank">
                    <small class="align-middle">Logout</small>
                    <i class="ri-logout-box-r-line ms-2 ri-16px"></i>
                  </a>
                </div>
              </li>
            </ul>
          </li>
          <!--/ User -->
          


        </ul>
      </div>

      
      <!-- Search Small Screens -->
      <div class="navbar-search-wrapper search-input-wrapper  d-none">
        <input type="text" class="form-control search-input container-xxl border-0" placeholder="Search..." aria-label="Search...">
        <i class="ri-close-fill search-toggler cursor-pointer"></i>
      </div>
      
      
  
</nav>

<!-- / Navbar -->

<script>
  document.getElementById('adminLogout').addEventListener('click', (event) => {
    event.preventDefault();


    fetch('/admin/logout', {
                        method: 'POST'
                       
                    })
                    .then(response => response.json())
                    .then(data => {
                        if (data.success) {
                          window.location.href = `/admin/login`;
                        } 
                    })
                    .catch(error => {
                        console.error('Error:', error);
                        Swal.fire({
                            title: 'Error',
                            text: 'An error occurred while Logout try again later.',
                            icon: 'error',
                            confirmButtonColor: '#d33',
                            confirmButtonText: 'OK'
                        });
                    });
  })
</script>

      